doctype html
html(lang='pt-br')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    block title
      title #{title}
    block extra_head
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  body
    .mdl-layout.mdl-js-layout
      .footer-wrapper
        block content
      include _footer
    #toast.mdl-js-snackbar.mdl-snackbar
      .mdl-snackbar__text
        button(type='button').mdl-snackbar__action
  script(src="./bundle.js")
