extends ../base
block content
  if advertisement
    .google-adsense-header-mobile
      include ../advertisement/header-mobile.html
  h1.mdl-layout-title #{title}
  if advertisement
    .google-adsense-half-page-left
      include ../advertisement/half-page.html
    .google-adsense-half-page-right
      include ../advertisement/half-page.html
  main.mdl-layout__content
    form(name='sendin' action='$(link-login-only)' method='post' data-error='$(error)').mdl-grid
      input(type='hidden' name='dst' value='#{homePage}')
      input(type='hidden' name='popup' value='false')
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
        input(type='text' id='username' name='username' value='$(username)').mdl-textfield__input
        label(for='username').mdl-textfield__label Usuário
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
        input(type='password' id='password' name='password').mdl-textfield__input
        label(for='password').mdl-textfield__label Senha
      button(type="submit" class="btn btn-primary").mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored.mdl-cell.mdl-cell--12-col Conectar
      a(href='tel:#{phone}').mdl-cell.mdl-cell--12-col.text-center Não tem conta ainda? Ligue para #{phone}.
