extends ../base

block title
  title #{title} > Propaganda

block extra_head
  meta(http-equiv='refresh' content='10; url=$(link-orig)')

block content
  h1.mdl-layout-title Propaganda
  main.mdl-layout__content
    p
      | Se nada acontecer, abra a 
      a(href='$(link-redirect)' target='hotspot_advert') propaganda
      |  manualmente.
