extends base
block content
  .row-fluid
    .col-md-4
      form(name='sendin' action='$(link-login-only)' method='post')
        $(if error)
        .alert.alert-danger $(error)
        $(endif)
        input(type='hidden' name='dst' value='#{homePage}')
        input(type='hidden' name='popup' value='false')
        .form-group
          label(for='username') Usuário
          input(type='text' id='username' name='username' placeholder='Usuário' value='$(username)').form-control
        .form-group
          label(for='password') Senha
          input(type='password' id='password' name='password' placeholder='Senha').form-control
        button(type="submit" class="btn btn-primary") Conectar
    .col-md-8
      ul.nav.nav-tabs
        li.active: a(href="#plans" data-toggle="tab") Planos
        li: a(href="#services" data-toggle="tab") Serviços
      .tab-content
        #plans.tab-pane.active
          include:markdown ../contents/plans.md
        #services.tab-pane
          include:markdown ../contents/services.md
